[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hugo-privacy-cactus-theme"]
	path = themes/hugo-privacy-cactus-theme
	url = https://github.com/lucaspiller/hugo-privacy-cactus-theme.git
